<div class="row">
  <div class="col-xs-12">
    <%= form_with(model: [ :admin, @employee ], :html => {class: "form-horizontal", role: "form"}) do |form| %>
      <div class="form-group">
        <div class="control-label col-sm-1">
          <%= form.label :first_name %>
        </div>
        <div class="col-sm-3">
          <%= form.text_field :first_name, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-1">
          <%= form.label :last_name %>
        </div>
        <div class="col-sm-3">
          <%= form.text_field :last_name, rows: 10, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-1">
          <%= form.label :name_station %>
        </div>
        <div class="col-sm-3">
          <%= form.text_field :name_station, rows: 10, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-1">
          <%= form.label :position_id %>
        </div>
        <div class="col-sm-3">
          <%= form.number_field :position_id, rows: 10, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-4">
          <%= form.submit class: 'btn btn-primary btn-large' %>
        </div>
      </div>
    <% end %>
  </div>
</div>