<div class="row">
  <div class="col-xs-8">
    <div class="well well-lg">
      <div class="review-title">
        <p>
          <strong>First name:</strong>
          <%= @passenger.first_name %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Last name:</strong>
          <%= @passenger.last_name %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Birthdate:</strong>
          <%= @passenger.birth_date %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Passport ID:</strong>
          <%= @passenger.passport_id %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Citizenship:</strong>
          <%= @passenger.citizenship %>
        </p>
      </div>
    </div>
  </div>
</div>